/* You can add global styles to this file */
html {
    margin: 0px 0px 0px 0px;
    height: 100%;
}

body {
    margin: 0px 0px 0px 0px;
    height: 100%;
    background-color: #d4d5cd;
}

div#container {
    margin: auto;
    width: 60%;
    height: 100%;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}